@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(212, 45%, 89%);
  font-size: 15px;
}
.container {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem !important;
  justify-content: center;
  align-items: center;
  width: 288px;
  height: 450px;
  border-radius: 15px;
  text-align: center;
  background-color: hsl(0, 0%, 100%);
  padding: 1rem 0 !important;
}
.container > img {
  width: 255px;
  height: 255px;
  margin: auto;
  border-radius: 12px;
}
.container > h2 {
  color: hsl(218, 44%, 22%) !important;
  font-family: "Outfit", sans-serif;
  margin: 1rem 0.8rem;
  margin-top: 1.5rem !important;
  padding: 2px 5px;
  font-weight: 750 !important;
  /* font-size: 15px; */
}
.container > p {
  padding: 2px 15px;
  font-family: "Outfit", sans-serif;
  color: hsl(220, 15%, 55%);
  font-weight: 400 !important;
  margin: 0 1rem;
}
